[submodule "third_party/pylive"]
	path = third_party/pylive
	url = https://github.com/ideoforms/pylive
[submodule "third_party/launchpad95"]
	path = third_party/launchpad95
	url = https://github.com/hdavid/Launchpad95
[submodule "third_party/scribbletune"]
	path = third_party/scribbletune
	url = https://github.com/scribbletune/scribbletune
[submodule "third_party/spleeter4max"]
	path = third_party/spleeter4max
	url = https://github.com/diracdeltas/spleeter4max
[submodule "third_party/reaper-reapy-mcp"]
	path = third_party/reaper-reapy-mcp
	url = https://github.com/wegitor/reaper-reapy-mcp
[submodule "third_party/daw-mcp-ptaczek"]
	path = third_party/daw-mcp-ptaczek
	url = https://github.com/ptaczek/daw-mcp
[submodule "third_party/reaper-daw-mcp-server"]
	path = third_party/reaper-daw-mcp-server
	url = https://github.com/Aavishkar-Kolte/reaper-daw-mcp-server
[submodule "third_party/ableton-link"]
	path = third_party/ableton-link
	url = https://github.com/Ableton/link
[submodule "third_party/ableton-dj-template"]
	path = third_party/ableton-dj-template
	url = https://github.com/willrjmarshall/AbletonDJTemplateUnsupported
[submodule "third_party/reaper-mcp-twelvetake"]
	path = third_party/reaper-mcp-twelvetake
	url = https://github.com/TwelveTake-Studios/reaper-mcp
[submodule "third_party/ATRI_AGENT"]
	path = third_party/ATRI_AGENT
	url = https://github.com/Tz-WIND/ATRI_AGENT
