# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Xcode
ios/build/
ios/Pods/
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab
local.properties
*.keystore

# Metro
.metro-health-check*

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.production
